.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 8%;
}

.images{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap: 30px;
}

.images img{
  width: 100%;
  cursor: pointer;
}
.lighthouse{
  position: fixed;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background:  linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6));
  display: flex;
  justify-content: center;
  align-items: center;
}
.lighthouse img{
  width:30%;
  min-height: 30%;
  cursor: pointer;
}