@media (max-width: 768px) {
  .mobileLinks {
    z-index: 1;
    position: fixed;
    top: 10%;
    color: white;
    font-weight: bold;
    right: 0; /* Attach to right side */
    width: 50%;
    height: calc(100vh - 10%);
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: 1.2s;

    border: none;
    overflow: hidden;

    animation: growOutRight 300ms ease-in-out forwards;
    transform-origin: left; /* Set origin to left for right-side animation */
  }
}

@keyframes growOutRight {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
}
