:root {
  --bg: black;
  --bgSoft: #2d2b42;
  --text: #fff;
  --textSoft: #e5e5e5;
  --btn: #3673fd;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background-image: linear-gradient(to bottom right, #1abc9c, #e67e22);
  /* background-color: var(--bg); */
  /* background-color: #1abc9c; */
}

.blur-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  background-image: url("/bg.webp");
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center; 

  z-index: -1;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content-container{
  margin: 25px 100px;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 1536px) {

}

@media (max-width: 1366px) {

}

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 640px) {

}
@media (max-width: 475px) {

}
