/* .container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container input,
.container textarea,
.container select {
  padding: 20px;
  background-color: var(--bgSoft);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
}

.container button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--btn);
  border: none;
  border-radius: 5px;
  color: var(--textColor);
  font-weight: bold;
} */


.form_container {
  width: 60%;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 16px 12px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form_container button:active {
  scale: 0.95;
}

.form_container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_container .form_group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form_container .form_group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form_container .form_group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form_container .form_group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form_container .form_group input::placeholder {
  opacity: 0.5;
}

.form_container .form_group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form_container .form_group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form_container .form_submit_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: inherit;
  color: #000000;
  font-weight: 600;
  width: 40%;
  border: 1px solid #503abf;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form_container .form_submit_btn:hover {
  border-color: #503abf;
  color:black;
}
.group_btn{
  display: flex;
  align-items: center;
  padding-top: 25px;
  justify-content: space-around;
  
}


