.container{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.95) 0px -10px 10px -10px;
  padding: 0 100px;
  background-color: #ADB5BD;
}

.logo{
  font-weight: bold;
}

.text{
  font-size: 12px;
}

@media (max-width:768px){
  .container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}