.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: red;
  min-width: 1000px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.line{
  /* margin: 100px;
  color: var(--bgSoft) */
}

@media (max-width: 768px) {
}